.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  width: 100%;
  position: relative;
}

.title {
  background-color: #f8f8f8;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: -25px;
  left: 10px;
  display: flex;
  flex-direction: column;
}

.messageList {
  overflow: auto;
  max-width: 800px;
}

.messageForm {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  padding: 20px 0;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  max-width: 800px;
}

.messageForm button {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.input {
  flex-grow: 1;
  margin: 10px;
}

.messageAuthor {
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 5px;
  color: teal;
}

.messageText {
  margin-bottom: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  min-height: 50px;
  border: 1px solid teal;
  padding: 5px;
  color: teal;
  background-color: #f8f8f8;
}
