.wrapper {
  height: 100vh;
}

.body {
  display: flex;
  box-sizing: border-box;
}

.header {
  z-index: 1001;
  height: 10vh;
}

.content {
  display: flex;
  height: 90vh;
}

.chats {
  overflow-y: auto;
  width: 37ch;
}

.messages {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  color: #008080;
}