.body {
  display: flex;
  box-sizing: border-box;
}

.header {
  display: flex;
  box-sizing: border-box;
}

.content {
  display: flex;
  box-sizing: border-box;
}

.chats {
  display: flex;
  box-sizing: border-box;
}

.messages {
  display: flex;
  box-sizing: border-box;
}